notebooks/data/*
# Step 2: Allow this specific log file
!notebooks/data/ap\ districts\ 2026\ simplified.geojson
notebooks/cifar_net.pth
notebooks/newbie*.png
.ipynb_checkpoints/
.env
node_modules/
.venv/
dist/
build/
.vscode/
